
app = "skill-link"
primary_region = "sin"

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "8000"
  PYTHON_VERSION = "3.11.0"
  WEB_CONCURRENCY = "4"
  DJANGO_SETTINGS_MODULE = "skilllink.settings"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  size = "shared-cpu-1x"
  memory = "512mb"
  cpus = 1

[deploy]
  release_command = "python manage.py migrate"
