/* 
   Poppins Local Font Integration 
   Place your .ttf or .woff2 files in public/static/fonts/Poppins/
*/

@font-face {
    font-family: 'PoppinsLocal';
    src: url('../fonts/Poppins/Poppins-Light.woff2') format('woff2'),
         url('../fonts/Poppins/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PoppinsLocal';
    src: url('../fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
         url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PoppinsLocal';
    src: url('../fonts/Poppins/Poppins-Medium.woff2') format('woff2'),
         url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PoppinsLocal';
    src: url('../fonts/Poppins/Poppins-SemiBold.woff2') format('woff2'),
         url('../fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PoppinsLocal';
    src: url('../fonts/Poppins/Poppins-Bold.woff2') format('woff2'),
         url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
